.button-chip {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  min-height: 40px;
  border-radius: 40px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  padding-left: 2em;
  padding-right: 2em;
  margin-right: 5px;
}

.button-chip-primary {
  background-color: #1F3625;
  color: #fff;
}

.button-chip-secondary {
  border: 1px solid rgba(31, 54, 37, 0.5);
  box-sizing: border-box;
  color: #a5afa8;
}

@media (max-width: 540px) {
  .button-chip{
    margin-bottom: 5px;
  }
}
