.button-chip {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 90%;
  min-height: 40px;
  border-radius: 40px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: center;
  position: absolute;
  cursor: pointer;
  display: inline-block;
  padding-left: 2em;
  padding-right: 2em;
}

.button-chip-primary {
  background-color: #1F3625;
  color: #fff;
}

.button-chip-secondary {
  border: 1px solid rgba(31, 54, 37, 0.5);
  box-sizing: border-box;
  color: #a5afa8;
}
