.button-chip {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif,
    Helvetica Now Display;
  font-family: Helvetica Now Display;
  font-size: 20px;
  border-radius: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  height: 49px;
  width: 211px;
  left: 0px;
  top: 0px;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.button-chip--primary {
  background-color: #1f3625;
  color: #fff;
}

.button-chip--secondary {
  border: 1px solid rgba(31, 54, 37, 0.5);
  box-sizing: border-box;
  color: #a5afa8;
  font-weight: 400;
}
