.overall{
    width: 90%;
}

@media (min-width: 880px) {
    .overall{
        margin-top: 5%;
    }
}

@media (max-width: 540px) {
    .overall{
        margin-top: 5px;;
    }
}

@media (min-width: 1475px){
    .overall{
        margin-top: 10%;
    }
}