.sb-box{
    margin-left: 2.5%;
    display: flex;
}

.input{
    width: 95%;
    height: 50px;
    padding-left:20px;
    border: 0;
    background-color: #DCDCDC;
    border-radius: 5px;
}

.sb-button-div{
    margin-left : -180px;
    display: flex;
    .sb-button {
        width: 180px;
    }
}

@media (max-width: 540px) {
    .sb-box {
        margin-left: 1%;
        width: 96%;
    }
    .input{
        height: 40px;
        // padding: 10px;
    }
    .sb-button-div {
        margin-left: -100px;
        .sb-button {
            width: 100px;
        }
    }
}