.modal-bg{
    background: rgba(110, 121, 113, 0.41);
    backdrop-filter: blur(54px);
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    position: fixed;
    z-index: 1;
    padding-left: 5px;
    .modal-window{
        width: 70vw;
        height: 70vh;
        margin-left: 13vw;
        margin-top: 10vh;
        background-color: #1F3625;
        border-radius: 5px;
        position: absolute;
    }
    .modal-close{
        float: right;
        padding-top: 5px;
        padding-right: 5px;
        cursor: pointer;
    }
}

@media (min-width: 340px) {
    .modal-bg{
        .modal-window{
            width: 80vw;
            height: 80vh;
            margin-left: 8vw;
        }
    }
}

// @media (max-width: 768px) {
//     .modal-bg{
//         .modal-window{
//             width: 85vw;
//             height: 85vh;
//             margin-left: 8vw;
//         }
//     }
// }