.storybook-button {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  border: 0;
  border-radius: 7px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  padding-left: 2em;
  padding-right: 2em;
}
.storybook-button-primary {
  color: white;
  background-color: #9bc53d;
}
.storybook-button-secondary {
  color: #9BC53D;
  border: 1px solid #dcdcdc;
  background-color: #1F3625;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button-small {
  font-size: 13px;
  padding: 10px 16px;
}
.storybook-button-medium {
  font-size: 18px;
  padding: 11px 20px;
}
.storybook-button-large {
  font-size: 20px;
  font-weight: 300;
  padding: 12px 24px;
}

@media (min-width: 1024px) {
  .storybook-button-large{
    font-size: 22px;
  }
}

@media (max-width: 560px) {
  .storybook-button-large{
    font-size: 14px;
  }
}
