.modal-window {
  .p-item {
    position: absolute;
    top: 45.5%;
    left: 45%;
    width: 80%;
    height: 80%;
    transform: translate(-50%, -40%);
    font-family: Helvetica, sans-serif, Arial;
    .p-modal-img {
      //   margin-top: 1%;
      //   margin-bottom: 1%;
      width: 90%;
      height: 90%;
      border-radius: 6px;
    }
    .p-modal-desc {
      width: 40%;
      padding-left: 10px;
      padding-top: 8%;
      .p-header {
        font-size: 24px;
        font-weight: 550;
        padding-bottom: 10px;
        color: #ffffff;
      }
      .p-desc {
        font-size: 13px;
        font-weight: 450;
        color: #ffffff;
      }
      .p-box {
        margin-top: 10%;
        max-height: 30%;
        margin-left: 1%;
        background-color: #9bc53d;
        border-radius: 7px;
        color: #ffffff;
        display: flex;
        // padding-top: 10px;
        .p-box-count {
          font-size: 21px;
          padding-left: 7%;
        }
        .p-box-desc {
          font-size: 13px;
          padding-left: 7%;
          font-weight: 450;
        }
        .p-box--desc {
          font-size: 14px;
          margin-top: 2%;
        }
      }
    }
  }
}

@media (min-width: 340px) and (max-width: 768px) {
  .modal-window {
    .p-item {
      position: absolute;
      top: 40%;
      left: 51%;
      width: 90%;
      height: 80%;
      font-family: Helvetica, sans-serif, Arial;
      padding-left: 8%;
      .p-modal-desc {
        width: 100%;
        padding-left: 1px;
        padding-top: 3%;
        .p-header {
          font-size: 20px;
          font-weight: 550;
          padding-bottom: 10px;
          color: #ffffff;
        }
        .p-desc {
          font-size: 12px;
          font-weight: 450;
          color: #ffffff;
        }
        .p-box {
          min-height: 80px;
          width: 93%;
          background-color: #9bc53d;
          border-radius: 7px;
          color: #ffffff;
          display: flex;
          padding-top: 5px;
          .p-box-left {
            height: 80px;
            align-items: center;
            justify-content: center;
          }
          .p-box-count {
            font-size: 20px;
          }
          .p-box-desc {
            padding-top: 1%;
            font-weight: 400;
          }
          .p-box--desc {
            font-size: 14px;
            margin-top: 2%;
          }
        }
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .modal-window {
    .p-item {
      position: absolute;
      top: 40%;
      left: 52%;
      width: 90%;
      height: 80%;
      font-family: Helvetica, sans-serif, Arial;
      padding-left: 8%;
      .p-modal-img {
        width: 500px;
        height: 100%;
        border-radius: 6px;
      }
      .p-modal-desc {
        width: 100%;
        padding-left: 1px;
        padding-top: 5%;
        .p-header {
          font-size: 25px;
          font-weight: 550;
          padding-bottom: 10px;
          color: #ffffff;
        }
        .p-desc {
          font-size: 18px;
          font-weight: 450;
          color: #ffffff;
        }
        .p-box {
          min-height: 80px;
          width: 93%;
          background-color: #9bc53d;
          border-radius: 7px;
          color: #ffffff;
          display: flex;
          padding-top: 5px;
          margin-top: 4%;
          margin-left: 0%;
          .p-box-left {
            height: 80px;
            align-items: center;
            justify-content: center;
          }
          .p-box-count {
            font-size: 25px;
          }
          .p-box-desc {
            padding-top: 1%;
            font-weight: 400;
            font-size: 15px;
          }
          .p-box--desc {
            font-size: 22px;
          }
        }
      }
    }
  }
}
@media (width: 1024px) {
  .modal-window {
    .p-item {
      position: absolute;
      top: 47.5%;
      left: 45%;
      width: 90%;
      height: 80%;
      font-family: Helvetica, sans-serif, Arial;
      padding-left: 8%;
      .p-modal-img {
        width: 100%;
        height: 100%;
        border-radius: 6px;
      }
      .p-modal-desc {
        width: 40%;
        padding-left: 20px;
        padding-top: 5%;
        margin-left: 1%;
        .p-header {
          font-size: 24px;
          font-weight: 550;
          padding-bottom: 10px;
          color: #ffffff;
        }
        .p-desc {
          font-size: 18px;
          font-weight: 450;
          color: #ffffff;
        }
        .p-box {
          min-height: 150px;
          width: 93%;
          background-color: #9bc53d;
          border-radius: 7px;
          color: #ffffff;
          display: flex;
          padding-top: 5px;
          margin-top: 4%;
          margin-left: 0%;
          .p-box-left {
            height: 80px;
            align-items: center;
            justify-content: center;
          }
          .p-box-count {
            font-size: 25px;
          }
          .p-box-desc {
            padding-top: 1%;
            font-weight: 400;
            font-size: 15px;
          }
          .p-box--desc {
            font-size: 18px;
            margin-top: 10%;
          }
        }
      }
    }
  }
}
