.ol-header{
    display: flex;
    width: 100%;
    height: 25px;
    font-size: 15px;
    font-weight: 400;
    color: #000000;
    font-family: Helvetica, Arial, sans-serif;
    margin: 2px;
}

.ol-box{
    padding-top: 8px;
    margin-bottom: 7px;
    width: 100%;
    min-height: 30px;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 450;
    display: flex;
    font-family: Helvetica, Arial, sans-serif;
    cursor: pointer;
    &:hover{
        transform: scale(1.01);
    }
}

.ol-name {
    width: 30%;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.ol-name-header {
    width: 30%;
    text-align: center;
}

.ol-image{
    padding-left: 10px;
    width: 20%;
    height: 100px;
    object-fit: cover;
    border-radius: 6px;
    padding-bottom: 5px;
}

.ol-item-short{
    width: 20%;
    text-align: center;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

@media (max-width: 735px) {
    .ol-header{
        font-size: 11px;
    }

    .ol-box{
        font-size: 11px;
        padding-bottom: 5px;
        padding-top: 5px;
    }
}