.tl-header{
    display: flex;
    width: 100%;
    height: 25px;
    font-size: 15px;
    font-weight: 400;
    color: #000000;
    font-family: Htlvetica, Arial, sans-serif;
    margin: 2px;
}

.tl-box{
    padding-top: 8px;
    margin-bottom: 7px;
    width: 100%;
    min-height: 30px;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 450;
    display: flex;
    font-family: Helvetica, Arial, sans-serif;
    cursor: pointer;
    &:hover{
        transform: scale(1.01);
    }
}

.tl-item-long{
    width: 23%;
    text-align: center;
}

.tl-item-short{
    width: 17%;
    text-align: center;
}

.tl-image{
    padding-left: 10px;
    min-width: 180px;
    width: 25%;
    height: 140px;
    object-fit: cover;
    border-radius: 6px;
    padding-bottom: 8px;
}

@media (max-width: 735px) {
    .tl-header{
        font-size: 11px;
    }

    .tl-box{
        font-size: 11px;
        padding-bottom: 5px;
        padding-top: 5px;
    }
}