.box {
  display: inline-block;
  min-width: 214px;
  min-height: 185px;
  background: #ffffff;
  border-radius: 16px;
}
.box:hover {
  box-shadow: 7px 7px 7px 7px #ecebeb;
}

.header-text {
  font-family: Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  color: #9bc53d;
  margin-left: 25%;
  margin-bottom: -5%;
}
.footer-text {
  word-wrap: break-word;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  color: #1f3625;
  margin-bottom: 25%;
  margin-left: 5%;
  margin-right: 5%;
}
