.box-primary {
  // TODO
  // Fix this as per secondary changes
  position: absolute;
  width: 214px;
  height: 388px;
  left: 42px;
  background-color: #1f3625;

  border-radius: 16px;
  .img {
    position: absolute;
    width: 185px;
    height: 233px;
    left: 15px;
    top: 13px;
    border-radius: 10px;
  }
}

.box-secondary {
  width: 95%;
  height: 300px;
  background: #1f3625;
  border-radius: 10px;
  margin-bottom: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16), 0 4px 8px rgba(0, 0, 0, 0.23);;
}

.img {
  width: 90%;
  height: 170px;
  top: 13px;
  border-radius: 5px;
  margin: 5%;
}


.info {
  font-size: 12px;
  text-align: center;
  font-weight: 350;
  color: #ffffff;
}

.title {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
}

.emptytitle{
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  margin-top: 20%;
}

@media (min-width: 1475px){
  .box-secondary{
    height: 400px;
  }

  .img{
    height: 230px;
  }

  .info{
    font-size: 14px;
  }

  .title{
    font-size: 16px;
  }
}

.header{
  width: 95%;
  height: 50%;
  background: #1f3625;
  border-radius: 10px;
}
