.ul-header{
    display: flex;
    width: 100%;
    height: 25px;
    font-size: 15px;
    font-weight: 400;
    color: #000000;
    justify-content: space-between;
    font-family: Helvetica, Arial, sans-serif;
    margin: 2px;
}

.ul-box{
    padding-top: 7px;
    margin-bottom: 7px;
    width: 100%;
    min-height: 30px;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    font-family: Helvetica, Arial, sans-serif;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.23);;
}

.ul-space{
    width: 20%;
    text-align: center;
}

@media (max-width: 735px) {
    .ul-header{
        font-size: 11px;
    }

    .ul-box{
        font-size: 11px;
        padding-bottom: 5px;
        padding-top: 5px;
    }
}