.lostimg {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.textdesc{
    font-weight: 450;
    font-size: 38px;
    display: flex;
    justify-content: center;
    text-align: justify;
    text-align-last: center;
}